<div class="container">
        <h5>This link is expired or invalid</h5>
        <h6>Link for password reset remains valid upto 3 hour. click <a href="http://localhost:9000/forgot">send an email for password reset</a> to get mail for password reset.</h6>
</div>