<section id="forgot-container">
	<h5> To get the reset link for your password, type your email id . A mail containing the reset link will be send to this email id.</h5>
	<form role="form" >
		<div class="form-group">
			<label for="inputEmail">Email address</label>
			<input type="email" name="email" class="form-control" id="inputEmailForget" placeholder="Enter email">
		</div>
		<button type="submit" class="btn btn-success">Send me reset link</button>
	</form>
</section>

