<section id="signup-container">
	<h3> Signup </h3>
	<form role="form">
		<div class="form-group">
		    <label for="name">Name</label>
		    <label for="nameError" class="error hide"></label>
		    <input type="text" class="form-control" id="inputName" placeholder="Enter name">
		</div>
		<div class="form-group">
			<label for="emailError" class="error hide"></label>
			<label for="inputEmail">Email address</label>
			<input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="passwordError" class="error hide"></label>
			<label for="inputPassword1">Password</label>
			<input type="password" class="form-control" id="inputPassword1" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
</section>