<section id="signup-container">
	<h3> Signup </h3>
	<form role="form">
		<div class="form-group">
		    <label for="Name">Name</label>
		    <input type="text" class="form-control" id="inputName" placeholder="Enter name">
		</div>
		<div class="form-group">
			<label for="inputEmail">Email address</label>
			<div name="inputEmail" class="hide" >Email id already exists</div>
			<input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
		</div>
			<div class="form-group">
			<label for="inputPassword1">Password</label>
			<input type="password" class="form-control" id="inputPassword1" placeholder="Password">
			</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>