<!DOCTYPE html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/message.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/layouts2.js"></script>
</head>
    <nav id="nav-bar" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/home">Brand</a>
        </div>
      </div><!-- /.container-fluid -->
    </nav>
	<body>
		<div id="container">
		{{{body}}}
		</div>
	</body>
</html>